.page__wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.page {
	padding: 10px;
	border: 2px solid teal;
	cursor: pointer;
	margin: 0 10px;
}

.page__current {
	color: white;
	background: teal;
}
