* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.App {
	width: 600px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid teal;
	margin: 15px;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	height: 60px;
	width: 100vw;
	display: flex;
	align-items: center;
	padding: 0 15px;
	background: teal;
	color: #f6f6f6;
}

.navbar__links {
	margin-left: auto;
}
